@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner{
	
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;		

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0.8);

	&__ico {

		animation: spin 1s linear infinite;
		display: flex;
	}
}