$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

.products {

    display: grid;
    grid-template-columns: repeat(3, minmax(25rem, 1fr));
    grid-gap: 2rem;
    align-items: start;    

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(1, minmax(25rem, 1fr));
    }    
}